@model TechStudioTest.Models.Manager

@{
    ViewBag.Title = "Details";
}

<h2>Manager Details</h2>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfficeAssignment.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeAssignment.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
